.navigation {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-right: 75px;

  &__list {
    list-style-type: none;
  }

  &__item {
    display: inline-block;
    vertical-align: middle;

    &:not(:last-child) {
      margin-right: 21px;
    }
  }

  &__link {
    position: relative;
    display: inline-block;
    color: #222;
    height: 44px;
    padding: 0 35px;
    min-width: 160px;
    font-size: 1.4rem;
    line-height: 44px;
    font-weight: 500;
    text-align: center;
    border-radius: 40px;
    text-decoration: none;
    opacity: 0.6;
    border: 1px solid $border;
    transition: opacity .2s ease-out;

    &:hover {
      opacity: 1;
    }
  }
}
