* {
  -webkit-touch-callout: none;
  -webkit-overflow-scrolling: touch;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

  &,
  &:before,
  &:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
}

html,
body {
  height: 100%;
  overscroll-behavior-y: none; /* disable pull to refresh */ // contain
}

html {
  quotes: "“" "”";
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul {
  padding: 0;
  margin: 0;
}

body, input, textarea, select, button {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  font-feature-settings: 'kern','onum','liga';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: left;
}

img {
  max-width: 100%;
  height: auto;
  display: inline-block;
}
