{
  "extends": [
    "stylelint-config-prettier",
    "stylelint-config-recommended",
    "stylelint-config-standard-scss"
  ],
  "plugins": [
    "stylelint-order"
  ],
  "ignore": ["comments"],
  "overrides": [
    {
      "files": ["**/*.scss"],
      "rules": {
        "no-empty-source": null,
        "no-extra-semicolons": null,
        "at-rule-no-unknown": [true, {
          "ignoreAtRules": ["function", "if", "else", "each", "include", "mixin"]
        }],
        "order/order": [
          "declarations",
          {
            "type": "rule",
            "selector": "^&:\\w"
          },
          {
            "type": "at-rule",
            "name": "media"
          },
          {
            "type": "rule",
            "selector": "^&_"
          }
        ]
      }
    }
  ]
}
