extends ../layouts/_default

block variables
  - var pageTitle = 'Главная'
  - var current = 'index'
  - var description = 'Главная'
  - var keywords = 'Главная'

block content
  .header
    form.search-form._search-form

  header.header
    nav.menu
      a(href="#")._logo Company
      .list
        a._item.-active(href="#") Home
        a._item(href="#") News
        a._item(href="#") Gallery
        a._item(href="#") Partners
        a._item(href="#") About
        a._item(href="#") Contacts
    h1._title Hello, World!
    .myslider._myslider
      ._slide Content
      ._slide.-active Content
      ._slide Content
    p._text Good weather

  .container
    include ../components/_article

    +button('cat')

    ul
      +pet('cat')
      +pet('dog')
      +pet('pig')

    +article('Hello world')

    +article('Hello world')
      p This is my
      p Amazing article

    +b('header')
      +e('element')

    form.search-form.-focused

    form.search-form
      input._input
      button._button Search

    form.search-form.-focused
      button._button.-disabled Search

    form.search-form.-theme_islands
      button._button.-size_m Search
