---
pageTitle: Главная
current: index
description: Главная
keywords: Главная
---

{%- extends "layouts/_base.html" -%}

{%- block content -%}
  <h1>{{ pageTitle }}</h1>

  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda nulla laborum similique! Sit corporis nostrum repellat! Iusto debitis aliquam totam laboriosam itaque incidunt aut maxime dolor molestias cupiditate. Nulla, alias!</p>

  <img src="img/flowers.jpg" border="1" width="100" height="100" alt="">

  <div class="swiper-container slider">
    <div class="swiper-wrapper">
      <div class="swiper-slide">Slide 1</div>
      <div class="swiper-slide">Slide 2</div>
      <div class="swiper-slide">Slide 3</div>
    </div>
    <div class="swiper-pagination"></div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
    <div class="swiper-scrollbar"></div>
  </div>

  <button type="button" class="j-open-modal" data-modal="modal-feedback">Открыть модалку 1</button>
  <a href="#modal-feedback" class="j-open-modal">Открыть модалку 2</a>
  <a href="" data-modal="modal-feedback" class="j-open-modal">Открыть модалку 3</a>

  {{ production }}
  {{ development }}
  {{ environment }}

{%- endblock -%}
