---
pageTitle: Главная
current: index
description: Главная
keywords: Главная
---

{%- extends "layouts/_base.njk" -%}

{# add additional styles
{%- block css -%}
  {{ super() }}
  <link rel="stylesheet" href="" />
{%- endblock -%}
#}

{# add additional scripts
{%- block scripts -%}
  {{ super() }}
  <script src=""></script>
{%- endblock -%}
#}

{%- block content -%}
<section>
  <div class="layout">
    {%- include "input/input.njk" -%}

    <br>
    <br>

    <input type="text" id="test-input" />

    <div style="background-color: #d2d2d2; padding: 15px">
      <div style="background-color: #eee; color: #000; padding: 5px; margin-bottom: 20px;" id="counter-value">count: {{ counter }}</div>
      <button style="padding: 4px 6px;" type="button" id="counter-increase">+</button>
      <button style="padding: 4px 6px;" type="button" id="counter-decrease">-</button>
      <button style="padding: 4px 6px;" type="button" id="open-modal">Open Modal</button>
    </div>
  </div>
</section>
{%- endblock -%}
