---
pageTitle: Главная
current: index
description: Главная
keywords: Главная
---

{%- extends "layouts/_base.html" -%}

{# {%- block css -%}
  {{ super() }}
  <link rel="stylesheet" href="" />
{%- endblock -%}

{%- block scripts -%}
  {{ super() }}
  <script src=""></script>
{%- endblock -%} #}

{%- block content -%}
  {{ component("Counter", { }) | safe }}

  <div style="background-color: #d2d2d2; padding: 15px">
    <button type="button" id="counter">count <span id="counter-value">{{ counter }}</span></button>
  </div>
{%- endblock -%}
