---
pageTitle: Главная
current: index
description: Главная
keywords: Главная
---

{%- extends "layouts/_base.html" -%}

{%- block content -%}

  <section class="hero">
    <div class="hero__wrapper">
      <div class="hero__content">
        <div class="title hero__title is-animated fade-up">Помогаем брендам и компаниям выйти на новый уровень прибыли</div>
        <div class="title hero__title is-animated fade-up">Разрабатываем brandformance - стратегии, учитывая особенности запросов аудитории и тенденций развития рынков</div>
      </div>
      Получить консультацию
      Как это работает?

      Листай, чтобы узнать больше
    </div>

    {{ macro.video('img/hero', 'hero__video is-animated fade-in') }}
  </section>

  Brandformance маркетинг
  Новый виток  развития digital-рекламы. Brandformance совмещает в себе приниципы аналитики, брендинга и perfomance-рекламы.


  Кому подойдет?

  01
  Компаниям, которые только выходят на рынок

  02
  Компаниям, которые хотят наладить каналы продаж
  и сделать каждый этап прозрачным для аналитики

  03
  Компаниям, которые планируют масштабироваться

  04
  Компаниям, которые заинтересованы в увеличении плана продаж и его выполнении

  05
  Компаниям, которым нужно навести порядок
  в бизнес-процессах

  06
  Компаниям, которым важна их репутация
  и узнаваемость в интернете

  Brandformance -
  стратегия

  инструкция по автоматизированному управлению процессами в бизнесе, которая совмещает в себе принципы аналитики, брендинга и perfomance-рекламы.


  Что включает в себя brandformance - стратегия?

  01
Определение потенциала компании на рынке

  02
Погружение в продукт и ценообразование
компании и конкурентов

  03
Анализ всех бизнес-процессов компании

  04
Разработка коммуникационной стратегии
и позиционирования

  05
Выстраивание perfomance-стратегии

  06
Запуск нового сайта и всех рекламных инструментов

Обсудить подробнее

В чем разница с классической работой?


Предыдущие варианты
 •   Нанять в штат аналитика
 •   Нанять в штат отдел маркетинга
 •   Заказать исследования
 •   Закзать стратегию и ждать 2-4 месяца
 •   Закзать сайт и ждать 3-5 месяц
 •   Заказать дизайн и ее ждать
 •   Делать А/В тесты контентных связок
 •   Тестировать гипотезы в perfomance-маркетинге


Новое лучшее решение
 •   Заказать разработку brandformance
     стратегии и получить всё инсрументы
      и инстуркции через 2 месяца

Что вы получите по результатам разработки стратегии:

1
2
3
4
5
6

посмотрите пример
brandformance -
стратегии

Получить консультацию
Как это работает?

{%- endblock -%}
