---
pageTitle: Главная
current: index
description: Главная
keywords: Главная
---

{%- extends "layouts/_base.njk" -%}

{# add additional styles
{%- block css -%}
  {{ super() }}
  <link rel="stylesheet" href="" />
{%- endblock -%}
#}

{# add additional scripts
{%- block scripts -%}
  {{ super() }}
  <script src=""></script>
{%- endblock -%}
#}

{%- block content -%}
<section>
  <div class="layout">
    {%- include "input/input.njk" -%}

    <br>
    <br>

    <div style="background-color: #d2d2d2; padding: 15px">
      <button type="button" id="counter">count <span id="counter-value">{{ counter }}</span></button>
    </div>
  </div>
</section>
{%- endblock -%}
