<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>Update a choropleth layer by zoom level</title>
  <meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no" />
  <script src="https://api.mapbox.com/mapbox-gl-js/v1.10.0/mapbox-gl.js"></script>
  <link href="https://api.mapbox.com/mapbox-gl-js/v1.10.0/mapbox-gl.css" rel="stylesheet" />
  <style>
    body { margin: 0; padding: 0; }
    #map { position: absolute; top: 0; bottom: 0; width: 100%; }
  </style>
</head>
<body>
<div id="map"></div>

<script>
  // TO MAKE THE MAP APPEAR YOU MUST
  // ADD YOUR ACCESS TOKEN FROM
  // https://account.mapbox.com
  mapboxgl.accessToken = 'pk.eyJ1IjoiaHBldHJ1IiwiYSI6ImNqMHh2bHdzMzAwZjEyd3BoM3BseW9zbmMifQ.Ui3ozj9ckZlj2C15AetORQ';

  var map = new mapboxgl.Map({
    container: 'map',
    style: 'mapbox://styles/mapbox/light-v10',
    center: [-98, 38.88],
    minZoom: 3,
    zoom: 3
  });

  map.on('load', function() {
    map.addSource('population', {
      'type': 'vector',
      'url': 'mapbox://mapbox.660ui7x6'
    });

    map.addLayer({
      'id': 'state-population',
      'source': 'population',
      'source-layer': 'state_county_population_2014_cen',
      'maxZoom': 5,
      'type': 'fill',
      'filter': ['==', 'isState', true],
      'paint': {
        'fill-color': [
          'interpolate',
          ['linear'],
          ['get', 'population'],
          0,
          'rgba(255,145,97,1)',
        ],
        'fill-opacity': 0.75
      }
    }, 'waterway-label');
  });
</script>

</body>
</html>
