.input-label {
  display: inline-block;
  border: 2px solid $lime;
}

.input {
  padding: 0 15px;
  height: 32px;

  &,
  &::placeholder {
    color: #121212;
  }

  &::placeholder {
    opacity: .5;
  }
}
