@use "sass:math";

@mixin aspect-ratio($x, $y, $pseudo: true) {
  $padding: unquote(math.div($y, $x) * 100 + '%');

  @if $pseudo {
    &:before {
      @include pseudo();
      width: 100%;
      padding-top: $padding;
    }
  }
  @else {
    padding-top: $padding;
  }
}

// @include aspect-ratio(16,9);
