// @include aspect-ratio(16,9);

@mixin aspect-ratio($x, $y, $pseudo: true) {
  $padding: unquote(($y / $x) * 100 + '%');

  @if $pseudo {
    &:before {
      @include pseudo();
      width: 100%;
      padding-top: $padding;
    }
  }
  @else {
    padding-top: $padding;
  }
}
