<div class="loader">
  <svg class="loader__spinner">
    <circle
      class="loader__spinner__circle"
      stroke="rgba(214, 56, 49, 0.5)"
      stroke-width="10"
      fill="transparent"
      strokeDashoffset="30"
      r="52"
      cx="60"
      cy="60"/>
  </svg>

  <div class="loader__logo">
    <img src="images/logo.svg" alt="">
  </div>
</div>

<div class="loader">
  <svg class="loader__spinner">
    <circle
      class="loader__spinner__circle"
      stroke="rgba(9, 73, 170, 0.5)"
      stroke-width="10"
      fill="transparent"
      strokeDashoffset="30"
      r="52"
      cx="60"
      cy="60"/>
  </svg>

  <div class="loader__logo">
    <img src="images/logo2.svg" alt="">
  </div>
</div>

<div class="loader">
  <svg class="loader__spinner">
    <circle
      class="loader__spinner__circle"
      stroke="rgba(110, 165, 247, 0.5)"
      stroke-width="10"
      fill="transparent"
      strokeDashoffset="30"
      r="52"
      cx="60"
      cy="60"/>
  </svg>

  <div class="loader__logo">
    <img src="images/logo3.svg" alt="">
  </div>
</div>
