@import 'settings/variables';
@import 'general/*';
@import 'components/*';

main {
  height: 100vh;
}

.image-background-example {
  width: 100px;
  height: 100px;
  border: 1px solid lime;
  background: url(img/HTML5-logo.png);
  background-size: cover;
}
