{% import "utils/mixins.html" as macro %}

{%- set nav = [
  {
    name: "Пример стратегии",
    slug: "examples",
    link: "../#/examples"
  },
  {
    name: "Этапы",
    slug: "stages",
    link: "../#/stages"
  },
  {
    name: "Больше кейсов",
    slug: "cases",
    link: "../#/cases"
  }
]
-%}

<nav class="navigation" tabindex="-1" aria-label="Основное меню">
  <ul class="navigation__list">
    {%- if nav -%}
      {%- for item in nav -%}
        {{ macro.navitem(item.name, item.link, loop.index, current === item.slug) }}
      {%- endfor -%}
    {%- endif -%}
  </ul>
</nav>
