// Sizes
$layout-width:        1200px !default;
$header-height:       100px !default;
$footer-height:       100px !default;

// Colors
$white:               #fff !default;
$black:               #000 !default;
$red:                 #f00 !default;
$blue:                #1432C9 !default;
$lime:                #25D366 !default;
$text-color:          #fff !default;
$background-color:    #ddd !default;
