{% import "utils/mixins.njk" as macro %}

<!DOCTYPE html>
<html class="no-js" lang="{{ pageLang }}" itemscope="itemscope" itemtype="http://schema.org/WebPage">

  <head>
    {%- block css -%}
      {% for style in styles %}<link rel="stylesheet" href="{{ style }}">{% endfor %}
    {%- endblock -%}

    {%- include "components/_meta.njk" -%}

    <script>(function(d){d.className=d.className.replace(/\bno-js/,'')})(document.documentElement)</script>
  </head>

  <body class="page{% if development %} debug{% endif %}{% if bodyClass %} {{ bodyClass }}{% endif %}">
    {{ svgstore | safe }}

    {%- include "modals/example.njk" -%}

    <main class="layout-wrapper">
      {%- include "header/header.njk" -%}

      <div class="layout-wrapper__content">
        {%- block content -%}{%- endblock -%}
      </div>
    </main>

    {%- include "footer/footer.njk" -%}

    {%- block scripts -%}
      {%- include "components/_scripts.njk" -%}
    {%- endblock -%}
  </body>
</html>
