include ../../../node_modules/bempug/index
include ../utils/mixins

block variables

doctype html
html(lang="en")
  head
    title= pageTitle
    base(href='/static/')
    script(type='text/javascript').
      if (foo) {
        bar(1 + 5)
      }
    link(rel="stylesheet", href="css/main.css")
  body
    include ../../../public/_svgstore.html

    block content

    +b('feedback', bem)&attributes(attributes)
    +e('title', {t: 'h2'}) Остались вопросы?
