<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">

  {%- block css -%}
    {% for style in styles %}<link rel="stylesheet" href="{{ style }}">{% endfor %}
  {%- endblock -%}

  <title itemprop="name">{{ pageTitle }}</title>
  <meta name="description" content="{{ description }}">
  <meta name="keywords" content="{{ keywords }}">
  <meta name="robots" content="index, follow">

  <meta property="og:type" content="{{ og.type }}">
  <meta property="og:title" content="{{ og.title }}">
  <meta property="og:url" content="{{ og.url }}">
  <meta property="og:image" content="{{ og.image }}">
  <meta property="place:location:latitude" content="{{ og.place.latitude }}">
  <meta property="place:location:longitude" content="{{ og.place.longitude }}">

  <script>(function(d){d.className=d.className.replace(/\bno-js/,'')})(document.documentElement)</script>
</head>
