<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
  <meta http-equiv=Content-Security-Policy content="default-src 'self'; script-src 'self' 'unsafe-inline' *.polyfill.io; img-src 'self' 'unsafe-inline' https://*; style-src 'self' 'unsafe-inline' https://fonts.googleapis.com; font-src 'self' 'unsafe-inline' https://fonts.gstatic.com; child-src 'self'; worker-src 'self';">

  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700&family=Roboto&display=swap" rel="stylesheet">

  <title itemprop="name">{{ pageTitle }}</title>
  <meta name="description" content="{{ description }}">
  <meta name="keywords" content="{{ keywords }}">
  <meta name="robots" content="index, follow">

  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest">
  <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#087d3f">
  <meta name="msapplication-TileColor" content="#087d3f">
  <meta name="theme-color" content="#087d3f">

  <meta property="og:type" content="{{ og.type }}">
  <meta property="og:title" content="{{ og.title }}">
  <meta property="og:url" content="{{ og.url }}">
  <meta property="og:image" content="{{ og.image }}">
  <meta property="place:location:latitude" content="{{ og.place.latitude }}">
  <meta property="place:location:longitude" content="{{ og.place.longitude }}">

  {% if styleName %}
    <script>
      (function loadCSS(d, s) {
        var i = d.createElement('link'),
          o = d.getElementsByTagName('script')[0];
        i.rel = 'stylesheet';
        i.href = s;
        i.media = 'only x';
        o
          .parentNode
          .insertBefore(i, o);
        setTimeout(function () {
          i.media = 'all'
        });
      })(window.document, '{{ styleName }}');
    </script>
  {% endif %}

  <script>
    (function (d) {
      d.className = d
        .className
        .replace(/\bno-js/, '')
    })(document.documentElement)
  </script>
</head>
