<header class="layout-header" itemscope="itemscope" itemtype="http://schema.org/WPHeader">
  <div class="layout">
    <div class="layout-header__content">
      <a href="../index.html" class="logo" rel="home" accesskey="1" data-title="{{ companyName }}">{{ companyName }}</a>

      <div class="layout-header__right-side">
        {%- include "components/_navigation.njk" -%}
      </div>

      <button type="button" id="hamburger" class="hamburger" accesskey="=" aria-label="Меню сайта">
        <span class="hamburger__line">Меню</span>
      </button>
    </div>
  </div>
</header>
