<template id="tmpl-popup-demo">
    <div class="popup" id="popup-demo">
        <div class="popup__dialog">
            <section class="popup__content">
                <b class="popup__close js-popup-close">Закрыть</b>

            </section>
        </div>
    </div>
</template>

<template id="tmpl-popup-service">
    <div class="popup" id="popup-service">
        <div class="popup__dialog">
            <section class="popup__content">
                <b class="popup__close js-popup-close">Закрыть</b>

                <header class="popup__header">
                    <h4 class="popup__header__title">Заказать услуги</h4>
                </header>

                <article class="popup__body">

                </article>
            </section>
        </div>
    </div>
</template>

<template id="tmpl-popup-feedback">
    <div class="popup" id="popup-feedback">
        <div class="popup__dialog">
            <section class="popup__content">
                <b class="popup__close js-popup-close">Закрыть</b>

                <header class="popup__header">
                    <h4 class="popup__header__title">Заказать услуги</h4>
                </header>

                <article class="popup__body">
                    Подтверждаю согласие на обработку моих персональных данных и подтверждаю, что ознакомлен(а) с правилами обращения
                </article>
            </section>
        </div>
    </div>
</template>

<!-- Micromodal -->
<div class="modal micromodal-slide" id="modal-1" aria-hidden="true">
    <div class="modal__overlay" tabindex="-1" data-micromodal-close>
        <div class="modal__container" role="dialog" aria-modal="true" aria-labelledby="modal-1-title" aria-describedby="modal-1-content">
            <div role="document">
                <header class="modal__header">
                <h3 class="modal__title" id="modal-1-title">
                Micromodal 🔥 </h3>
                <button class="modal__close" aria-label="Close modal" aria-controls="modal__container1" data-micromodal-close></button>
                </header>
                <main class="modal__content" id="modal-1-content">
                <p>
                    This is a completely accessible modal.
                </p>
                <p>
                     Try hitting the <code>tab</code> key and notice how the focus stays within the modal itself. To close modal hit the <code>esc</code> button, click on the overlay or just click the close button.
                </p>
                </main>
                <footer class="modal__footer">
                <button class="modal__btn modal__btn-primary">Continue</button>
                <button class="modal__btn" data-micromodal-close aria-label="Close this dialog window">Close</button>
                </footer>
            </div>
        </div>
    </div>
</div>

<div class="modal micromodal-slide" id="modal-1" aria-hidden="false">
    <div class="modal__overlay" tabindex="-1" data-micromodal-close="">
        <div class="modal__container" role="dialog" aria-modal="true" aria-labelledby="modal-1-title" aria-describedby="modal-1-content">
            <div role="document">
                <header class="modal__header">
                <h3 class="modal__title" id="modal-1-title">
                Micromodal 🔥 </h3>
                <button class="modal__close" aria-label="Close modal" aria-controls="modal__container1" data-micromodal-close=""></button>
                </header>
                <main class="modal__content" id="modal-1-content">
                <p>
                    This is a completely accessible modal.
                </p>
                <p>
                     Try hitting the <code>tab</code> key and notice how the focus stays within the modal itself. To close modal hit the <code>esc</code> button, click on the overlay or just click the close button.
                </p>
                </main>
                <footer class="modal__footer">
                <button class="modal__btn modal__btn-primary">Continue</button>
                <button class="modal__btn" data-micromodal-close="" aria-label="Close this dialog window">Close</button>
                </footer>
            </div>
        </div>
    </div>
</div>
<!-- // Micromodal -->

<div class="modal fade in" id="aboutus" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="display: block;">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">x</button>

        <h4>Who are we?</h4>

        <img class="logo-full" src="images/logo-full.svg">

        <p><strong>We’re Cocolabs, Inc.</strong> We provide Design and Development services to unthinkably large companies, the just-getting-started and everyone in between.</p>

        <p>We’re a 8 member Design &amp; Development team. We believe in keeping things simple. No matter how complicated your ideas are, <span>we make it simple</span> and we make it work better.</p>

        <p><strong>We’re window shopper friendly. Find out what your project will cost with no obligation.</strong> <a data-dismiss="modal" aria-label="Close" data-toggle="modal" data-target="#hireus">Get a quote</a></p>
    </div>
  </div>
</div>
