{%- verbatim -%}
<template id="tmpl-notification">
    <div class="notification" id="popup_notification" aria-hidden="true" tabindex="-1">
        {{#if title}}
        <div class="notification__header">{{title}}</div>
        {{/if}}

        {{#if text}}
        <div class="notification__content clearfix">
            {{text}}
        </div>
        {{/if}}
    </div>
</template>

<template id="tmpl-popup-message">
    <div class="popup popup_simple popup_message" id="popup_message" aria-hidden="true" tabindex="-1">
        <button class="modal__close popup__close j-popup-close" aria-label="Закрыть"></button>

        {{#if title}}
        <header class="popup__header popup__header_simple">
            {{title}}
        </header>
        {{/if}}

        {{#if text}}
        <div class="popup__message clearfix">
            {{text}}
        </div>
        {{/if}}
    </div>
</template>

<template id="tmpl-popup-error">
    <div class="popup popup_simple popup_error" id="popup_error" aria-hidden="true" tabindex="-1">
        <button class="modal__close popup__close j-popup-close" aria-label="Закрыть"></button>

        {{#if title}}
        <header class="popup__header popup__header_simple">
            {{title}}
        </header>
        {{/if}}

        {{#if text}}
        <div class="popup__message clearfix">
            {{text}}
        </div>
        {{/if}}
    </div>
</template>
{%- endverbatim -%}
