<template id="tmpl-modal-template">
  <div class="modal" id="modal-item" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal__dialog" data-change="true">
      <div class="modal__content size-medium" role="document" data-change="true">
        <button type="button" class="modal__close-button" data-dismiss="modal" aria-label="Close" data-target="#modal-item">
          <svg role="img">
            <use xlink:href="#close"/>
          </svg>
        </button>
        {{#if header}}
          <header class="modal__header" data-change="true">
            {{ header }}
          </header>
        {{/if}}
        {{#if body}}
          <div class="modal__body" data-change="true">
            {{ body }}
          </div>
        {{/if}}
        {{#if footer}}
          <footer class="modal__footer" data-change="true">
            {{ footer }}
            <button
              class="modal__default-button"
              data-dismiss="modal"
              aria-label="Close"
              data-toggle="modal"
              data-target="#modal-item">OK</button>
          </footer>
        {{/if}}
      </div>
    </div>
  </div>
</template>
