mixin button(name)
  button.button= name

mixin pet(name)
  li.pet= name

mixin article(title)
  .article
    .article-wrapper
      h1= title
      if block
        block
      else
        p No content provided
