{% macro picture(image='', title='', className='') %}
<picture class="picture{% if className %} {{ className }}{% endif %}">
  <source srcset="{{ image }}.webp" type="image/webp">
  <source srcset="{{ image }}.jpg" type="image/jpeg">
  <img src="{{ image }}.jpg" alt="{{ title | escape }}">
</picture>
{% endmacro %}

{% macro video(name='', className='') %}
<div class="video{% if className %} {{ className }}{% endif %}">
  <video class="video__player" poster="{{ name }}.jpg" preload="auto" loop video autobuffer autoplay>
    <source src="{{ name }}.ogv" type='video/ogg; codecs="theora, vorbis"'>
    <source src="{{ name }}.mp4" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"'>
    <source src="{{ name }}.webm" type='video/webm; codecs="vp8, vorbis"'>
  </video>
</div>
{% endmacro %}

{% macro navitem(name='', link='', accesskey='', isCurrent=false) %}
<li class="navigation__item" itemscope="itemscope" itemtype="http://schema.org/SiteNavigationElement"{% if isCurrent %} aria-current="page"{% endif %}>
  <a href="{{ link }}" class="navigation__link j-nav-link{% if isCurrent %} is-current{% endif %}" accesskey="{{ accesskey }}" itemprop="url">
    {% if current == item.slug %}<span class="visually-hidden">Текущий пункт:</span> {% endif %}
    <span itemprop="name">{{ name | escape }}</span>
  </a>
</li>
{% endmacro %}
